<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <p class="text-muted">
                    Powered by:
                    <a href="https://github.com/nathan-osman/informas">
                        <span class="fa fa-github"></span>Informas
                    </a>
                </p>
            </div>
            <div class="col-sm-6">
                <p class="text-muted text-sm-right">
                    Copyright &copy; 2016 &mdash;
                    <a href="https://quickmediasolutions.com">Nathan Osman</a>
                </p>
            </div>
        </div>
    </div>
</footer>
