<nav class="navbar navbar-full navbar-dark bg-inverse">
    <div class="container">
        <a class="navbar-brand" href="/">{{ site_title }}</a>
        <div class="nav navbar-nav float-xs-right">
            {% if current_user.ID %}
                <div class="nav-item">
                    <a class="nav-link" href="/accounts/new">
                        <span class="fa fa-plus"></span>
                        New
                    </a>
                </div>
                {% if current_user.IsAdmin %}
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                            <span class="fa fa-tachometer"></span>
                            Admin
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/accounts">
                                <span class="fa fa-twitter"></span>
                                Accounts
                            </a>
                            <a class="dropdown-item" href="/users">
                                <span class="fa fa-users"></span>
                                Users
                            </a>
                            <a class="dropdown-item" href="/settings">
                                <span class="fa fa-cogs"></span>
                                Settings
                            </a>
                        </div>
                    </div>
                {% endif %}
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                        <span class="fa fa-user-circle"></span>
                        {{ current_user.Username }}
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/users/logout">
                            <span class="fa fa-sign-out"></span>
                            Logout
                        </a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</nav>
