/*
 * Custom Styles for Informas
 * Copyright 2016 - Nathan Osman
 */

footer {
    background-color: #f7f7f9;
    margin: 2rem 0;
    padding: 3rem 0;
}

.fa {
    margin-right: 4px;
}

.form-check-input {
    margin-right: 4px;
}

.navbar {
    margin-bottom: 1rem;
}

.table-outline {
    border: 1px solid #eceeef;
}

/* Ensure the page is never wider than 750px. */
@media (min-width: 768px) {
    .container { max-width: 750px; }
}
