{% extends "base.html" %}

{% block content %}
    <h1>Login</h1>
    <p class="lead">
        Please enter your credentials below to login.
    </p>
    <div class="row">
        <div class="col-sm-6">
            <form method="post">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" name="username" class="form-control" value="{{ username }}">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" class="form-control" value="{{ password }}">
                </div>
                <button type="submit" class="btn btn-outline-primary">Login</button>
            </form>
        </div>
    </div>
{% endblock %}
